<div class="tables">
	<br/>
  <div class="standalone" id="standalone" style="position: relative; left: 0px; top: 0px; ">
	 	<h2>Notice from Service Deals.</h2>
	  <p><%= "Current you are in a permission group of '#{current_user.role.humanize}'," rescue ''%> you are <strong>not authorized</strong> to access the page requested. </p>
	  <p>If you think it is <strong>an error</strong>, or you want to promote your account, please kindly <strong>contact technical support</strong>.</p>
  </div>
</div>