<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%'>
  <tr>
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
        <% if current_user.is_super_admin? %>
            <%= link_to "View All Deals", deals_path %>
        <% end %>
      </div>
      <div class='title'>
        <span id='title'>Deal Equipments</span>
      </div>
      <div id="users" class="list">
        <table id="users_list" class="datatable" cellpadding='0' cellspacing='0' border='1'>
          <thead>
          <tr>
            <th><strong>id</strong></th>
            <th><strong>Action</strong></th>
          </tr>
          </thead>
          <tbody>
          <div class="digg_pagination">
            <%#= will_paginate @deal_attributes %>
          </div>
          <% @deal_equipments.each do |deal_equipment| %>
              <% if can? :read, deal_equipment %>
                  <tr>

                    <td><%= deal_equipment.id %></td>

                    <td><%= (link_to 'Edit', edit_deal_equipment_path(:id => deal_equipment.id,:category_name => @category_name,:deal_id => @deal_id)) %>
                      <%#= (link_to "Delete", deal_attribute.id, method: :delete, data: { confirm: "Are you sure?" }) %></td>
                  </tr>
              <% end %>
          <% end %>
          </tbody>
        </table>

      </div>
    </td>
  </tr>
</table>