<table cellpadding='0' cellspacing='0' class='tabbed' height='100%' width='100%' >
  <tr>
    <td class='main' id='main' valign='top'>
      <div class='title_tools'>
        <%= link_to "View All Deal Equipments", "#{deal_equipments_path}?deal_id=#{@deal_id}&category_name=#{@category_name}" %>
      </div>
      <div class='title'>
        <span id='title'>Add a New Equipment in Deal</span>
      </div>

      <%= render :partial => "#{@category_name}_equipment_form" %>


    </td>
  </tr>
</table>


