<!DOCTYPE html>
<html>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
    <table width="100%">
      <tr>
        <td>
          <h2>Hi</h2>
        </td>
      </tr>
      <tr>
        <td>
          Your client reedeem amount: <%= @reedeem_amount %>
        </td>
        <td>
         Your client email: <%= @email %>
       </td>
       <td>
         Your client name: <%= @name %> 
      </td>
      </tr>
      <tr><td>&nbsp;</td></tr>
      <tr>
        <td>
        	Thanks <br />
          Service-Deal Team
        </td>
      </tr>
    </table>
  </body>
</html>