<!DOCTYPE html>
<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table width="100%">
  <tr>
    <td>
      <h2>Hi Service Dealz Team,</h2><br/>
    </td>
  </tr>
  <tr>
    <td>
      A new feedback is received from <%= @name %> with email <%= @email %><br/>
    </td>
  </tr>
  <tr><td>&nbsp;</td></tr>
  <tr>
    <td>
      Message : <%= @message %><br/>
    </td>
  </tr>
  <tr>
    <td>
      Thanks <br />
      Service-Dealz Team
    </td>
  </tr>
</table>
</body>
</html>