<!DOCTYPE html>
<html>
<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">
<table width="100%">
  <tr>
    <td>
      <h2>Hi Service Dealz Team,</h2><br/>
    </td>
  </tr>
  <tr>
    <td>
      <b>Hi,<br/>
    </td>
  </tr>
  <tr><td>Just one last step to best deals</td></tr>
  <tr>
    <td><a href="http://103.243.5.242:2123//verify_email?user_id=<%=@user_id%>&secure_token=<%=@secure_token%>">CLICK HERE TO VERIFY YOUR EMAIL ID</a> </td>
  </tr>
  <tr>
    <td>
      Thanks <br />
      Service-Dealz Team
    </td>
  </tr>
</table>
</body>
</html>
