/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans-light-webfont.woff') format('woff'), url('../fonts/opensans-light-webfont.ttf') format('truetype'), url('../fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans-regular-webfont.woff') format('woff'), url('../fonts/opensans-regular-webfont.ttf') format('truetype'), url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans-semibold-webfont.woff') format('woff'), url('../fonts/opensans-semibold-webfont.ttf') format('truetype'), url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*Global*/
body {
    font-size: 16px;
    font-family: 'open_sanslight';
}
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 30px;
}
h2 {
    font-size: 20px;
}
p {
    font-size: 16px;
}
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a,
a-hover,
a:focus {
    text-decoration: none;
    outline: none;
}
.btn-red {
    background: #e50005;
    color: #fff;
    font-family: 'open_sansregular';
    border-bottom: 5px solid #bf0d11;
    text-transform: uppercase;
    border-left: 0;
    border-right: 0;
    border-top: none;
}
.form-control:focus {
    box-shadow: none;
    border: 1px solid #c5c5c5 !important;
    /*color: #fff !important;*/
}
.form-control {
    height: 42px;
    border: 1px solid #e3e3e3 !important;
    box-shadow: none;
    /*background-color: #f6f5f5;*/
}
/*Global end*/


/*topbar*/
.top-bar {
    background: #eeeeee;
    padding: 10px 0;
    height: 40px;
    border-bottom: 1px solid #c3c1c1;
}
.social-icon a {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    display: inline-block;
    font-size: 14px;
;
    padding-top: 2px;
    text-align: center;
    color: #fff;
}
.fb-top {
    background: #3b599a;
}
.fb-top:hover {
}
.tw-top {
    background: #3ecaf9;
}
.gplus-top {
    background: #e04a39;
}
.in-top {
    background: #0073a5;
}
.login-tab a {
    color: #727272;
    text-decoration: none;
    outline: none;
    font-size: 14px;
}
.login-tab a:hover {
    color: #e20000;
    outline: none;
}
div.modal-open {
    padding-right: 0 !important;
}
/*nav*/
.navbar {
    min-height: 90px;
    margin-bottom: 0;
    border: 0;
    margin-top: 40px;
}
.navbar-inverse {
    background: #FFF;
}
.navService li {
    display: inline-block;
    padding-top: 35px;
}
.navbar-brand {
    float: left;
    margin: 0 !important;
    height: auto;
    padding: 10px;
}
.navService li a {
    color: #000;
    text-transform: capitalize;
    padding-right: 40px;
    text-decoration: none;
    font-family: 'open_sansregular';
}
.navService li a:hover {
    color: #e50005;
}
/* button */
.navbar-toggle {
    background: none;
    border: 0;
    margin-top: 30px;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background: #000 !important;
}
/*carousel*/
.carousel-inner {
    height: 600px;
}
.carousel-inner img {
    width: 100%;
}
.carousel-caption {
    bottom: 0;
    top: 135px;
    text-shadow: none;
    font-size: 30px;
}
.formcontainer {
    top: 32%;
    left: 20%;
    padding-bottom: 30px;
    right: 20%;
    padding-top: 20px;
    position: absolute;
    text-align: center;
    z-index: 999;
}
.formcontainer h2 {
    color: #fff;
    padding: 10px 0;
    margin-bottom: 40px;
}
.formcontainer input {
    font-family: 'open_sansregular';
    border: 1px solid #fff;
    border-radius: 5px;
    background: url(../img/input-bg.png) repeat;
    color: #fff !important;
    height: 45px !important;
    margin-bottom: 35px;
    font-size: 16px;
}
.formcontainer .btn-red {
    padding: 10px 40px;
    font-size: 20px;
}
.carousel-control.left,
.carousel-control.right {
    background: none;
}
.carousel-control {
    cursor: default;
}
.carousel-control span {
    cursor: pointer
}
/*middle conStyle*/
.serviceCon {
    padding: 4% 0;
}
.serviceCon h1 {
    color: #000;
}
.img-circle {
    background: #eeeded;
    display: inline-block;
    height: 140px;
    padding: 50px 0 0;
    text-align: center;
    width: 140px;
}
.serviceRow {
    margin-top: 4%;
    outline: none;
}
.serviceRow:hover,
.serviceRow:focus {
    outline: none;
    text-decoration: none;
}
.serviceRow p {
    color: #000;
    font-size: 14px;
    margin-top: 20px;
}
.serviceRow:hover .img-circle {
    background: #e5e2e2;
}
/*client conStyle*/

.clientCon {
    background: #eceaea;
    padding: 4% 0;
}
.clientCon h2 {
    color: #4e4b4b;
    padding-top: 2%;
}
.clientCon img {
    padding: 20px;
}
.clientCon .logo-place {
    padding-top: 50px;
}
footer {
    background: #272525;
    float: left;
    width: 100%;
    padding: 2% 0;
}
footer ul {
    display: inline-block;
    margin-right: 5%
}
footer li.heading {
    font-family: 'open_sanssemibold';
    color: #fff;
    margin-bottom: 8px;
}
footer li a {
    color: #8c8b8b;
    font-size: 12px;
}
footer li a:hover {
    color: #fff;
}
footer p {
    color: #fff;
    font-size: 12px;
}
.copyright {
    border-left: 1px solid #fff;
    padding: 2%;
}
.copyright span {
    color: 12px;
    color: #8c8b8b;
}
/*login page*/
.login-page {
    background: #e7e1df;
    font-family: 'open_sanslight';
}
.login-signup {
    margin: 2% auto;
    float: none !important;
}
.login-signup .text-center img {
    margin-bottom: 5%;
}
.loginCon {
    background: #fff;
    border-radius: 3px;
}
.login-signup .form-group i {
    left: 27px;
    position: absolute;
    top: 11px;
    font-size: 14px;
}
.login-signup .form-group .checkbox-inline {
    font-weight: bold;
}
.login-signup .form-control {
    padding-left: 30px;
    color: #000 !important;
}
.social-media {
    padding: 0 !important;
}
.login-signup .social-media a {
    float: left;
    padding: 6px 6px 6px 25px;
    color: #fff;
    margin-right: 15px;
    font-family: 'open_sanssemibold';
    font-size: 12px;
    width: 47%;
    outline: none;
    border-radius: 3px;
}
.login-signup .social-media a:hover {
    text-decoration: none;
}
.btn-login {
    color: #fff !important;
    background: #008fff;
    font-family: 'open_sanssemibold';
    padding: 10px 12px !important;
    width: 250px;
    text-transform: uppercase;
}
.btn-signup {
    color: #fff;
    background: #0082ff;
    font-family: 'open_sanssemibold';
    margin-top: 15px;
    padding: 10px 12px !important;
}
.btn-signup:hover {
    background: #006bc8;
    color: #fff !important;
}
a.fb {
    background: #354f88 url(../img/fb.png) no-repeat 0 3px;
}
a.gplus {
    background: #ce3e26 url(../img/gplus.png) no-repeat 5px 3px;
    margin-right: 0 !important;
}
.modal-dialog {
    margin-top: 100px;
}
.form-control::-moz-placeholder {
    color:#fff;
}
/*13 may 2016*/
.remember-me {
    color: #868686;
    font-size: 14px;
}
.modal-header {
    border-bottom: none;
}
.login-signup .form-horizontal {
    padding: 0 32px;
}
/*  deal page */

.internet-banner {
    background: url(../img/internet-banner.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 306px;
}
.internet-banner h3 {
    color: #fff;
    font-family: 'open_sanssemibold';
    font-size: 50px;
    padding-top: 80px;
}
.internet-banner p {
    color: #fff;
    font-size: 20px;
    padding-top: 20px;
}
/*  deal page */

.best_deals {
    background: #f6f8fa;
    padding: 90px 0px;
}
.serviceCon1 h1 {
    font-family: 'open_sanslight';
    color: #000;
    position: relative;
    font-size: 40px;
    text-align: center;
}
.best_deals .container.serviceCon1 .row .col-xs-6 {
    margin-top: 80px;
}
.img_box {
    height: 88px;
    line-height: 88px;
    text-align: center;
}
.inte_ser {
    background: #fff;
    padding: 80px 0px;
}
.inte_ser h1 {
    color: #000;
    font-size: 40px;
}
.inte_ser p {
    font-size: 18px;
    color: #686868;
    letter-spacing: 3px;
    margin-top: 15px;
}
.inte_ser ul {
    margin-top: 60px;
}
.inte_ser ul li {
    font-size: 20px;
    color: #50b0cb;
    margin-top: 33px;
    padding-left: 60px;
    position: relative;
}
.inte_ser ul li::before {
    background-image: url(../img/right_arrow.png);
    background-repeat: no-repeat;
    background-position: 10px 12px;
    position: absolute;
    content: "";
    left: 0px;
    top: -10px;
    background-color: #f6f8fa;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    line-height: 2.3;
    height: 50px;
}
.left_right_line {
    text-align: center;
    position: relative;
}
.serviceCon1 h1::after {
    background: #c6c4c4;
    content: "";
    position: absolute;
    width: 38%;
    display: block;
    right: 0px;
    height: 1px;
    top: 22px;
}
.serviceCon1 h1::before {
    background: #d8d8d8;
    content: "";
    position: absolute;
    left: 0px;
    width: 38%;
    display: block;
    right: 0px;
    height: 1px;
    top: 22px;
}
.img-circle {
    background: #eeeded;
    display: inline-block;
    height: 140px;
    padding: 50px 0 0;
    text-align: center;
    width: 140px;
}
.serviceRow1 {
    margin-top: 0px;
    outline: none;
    background: #ffffff;
    display: block;
    padding: 40px 20px;
    border-radius: 5px;
    border: 1px solid #d8d8d8;
}
.serviceRow1:hover,
.serviceRow1:focus {
    outline: none;
    text-decoration: none;
}
.serviceRow1 p {
    color: #000;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.serviceRow1 .para_1 {
    font-family: "open_sanssemibold";
    color: #000;
    font-size: 18px;
    text-align: left;
    margin-bottom: 20px;
}
.serviceRow1 .para_2 {
    font-family: "open_sanssemibold";
    font-size: 16px;
    color: #939393;
    margin-bottom: 0px;
    text-align: left;
}
.serviceRow1 > span {
    font-family: 'open_sanssemibold';
    color: #009904;
    font-size: 20px;
    text-align: left;
    display: block;
}
.serviceRow1 h2 {
    font-family: "OpenSans Bold";
    font-size: 30px;
    color: #009904;
    text-align: left;
}
.serviceRow1 h2 span.light {
    font-family: 'open_sansregular';
    font-size: 30px;
    color: #009904;
}
.serviceRow1 h2 span.regular {
    font-family: "open_sanssemibold";
    font-size: 18px;
    color: #009904;
}
.box-sec p {
    font-family: "open_sanssemibold";
    font-size: 16px;
    color: #939393;
    margin-bottom: 0px;
}
.san_light {
    font-family: 'open_sanslight';
}
.san_regular {
    font-family: 'open_sansregular';
    font-size: 18px;
}
.serviceRow1 a {
    font-family: "open_sanssemibold";
    background: #e50005;
    display: block;
    padding: 10px;
    color: #fff;
    font-size: 14px;
    margin-top: 20px;
    border-radius: 5px;
    text-transform: uppercase;
}
.serviceRow1 a:hover {
    text-decoration: none;
}
.serviceRow1:hover .img-circle {
    background: #e5e2e2;
}
/*client conStyle*/
/*details*/

.details {
    background: #f6f8fa;
    padding: 55px 0px;
}
.border-radius-bg {
    background: #fff;
    border: 1px solid rgba(183, 185, 187, 0.43);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 30px 20px;
}
.details h5 {
    font-family: 'OpenSans Bold';
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}
.separator {
    display: block;
    background: #e3e3e3;
    height: 1px;
    margin: 40px 0px;
}
.pagination_sec ul {
    display: inline-block;
}
.pagination_sec ul li {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #d4d4d4;
}
.pagination_sec ul li:last-child {
    margin-right: 0px;
    padding-right: 0px;
    border-right: none;
}
.pagination_sec ul li a {
    font-family: 'open_sanssemibold';
    color: #8d8d8d;
    font-size: 14px;
    line-height: 2;
}
.pagination_sec ul li a.active {
    color: #105679;
}
.heading-2 {
    font-family: 'open_sanssemibold';
    color: #494747;
    font-size: 14px;
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #d4d4d4;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 2;
}
.pagination_sec a:hover,
.pagination_sec a:focus {
    text-decoration: none;
}
.pagination_sec .border-radius-bg {
    padding: 10px 20px;
}
.box-sec .col-xs-6 {
    margin-top: 27px;
}
.box-sec h5 {
    font-family: 'open_sanssemibold';
    font-size: 16px;
    color: #000000;
    margin-top: 20px;
}
.box-sec ul li {
    color: #b2b2b2;
    font-family: 'open_sanssemibold';
    font-size: 12px;
    position: relative;
    padding-left: 17px;
    border: none;
}
.box-sec ul li:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #ef8508;
    position: absolute;
    top: 4px;
    left: 0px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}
.btn_more {
    font-family: "open_sanssemibold";
    color: #219fff;
    font-size: 12px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: underline;
    position: relative;
    padding-left: 15px;
}
.btn_more::before {
    content: "+";
    position: absolute;
    top: -3px;
    left: 0px;
    font-size: 18px;
}
.separator_2 {
    background: rgba(183, 185, 187, 0.43);
    display: block;
    height: 1px;
    margin: 20px -43px;
    margin-top: 25px;
}
.box-sec p {
    font-family: "open_sanssemibold";
    font-size: 16px;
    color: #939393;
    margin-bottom: 0px;
}
.box-sec h2 {
    font-family: "OpenSans Bold";
    font-size: 30px;
    color: #009904;
}
.box-sec h2 span.light {
    font-family: 'open_sansregular';
    font-size: 30px;
    color: #009904;
}
.box-sec h2 span.regular {
    font-family: "open_sanssemibold";
    font-size: 18px;
    color: #009904;
}
.box_down {
    width: 80%;
    margin: auto;
}
.btn_2 {
    font-family: "open_sanssemibold";
    background: #e50005;
    display: block;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    text-transform: uppercase;
    margin: 20px auto;
}
.btn_2:hover,
.btn_2:focus {
    color: #fff;
}
.vertical_middle {
    line-height: 100px;
    text-align: center;
}
/*checkbox*/
.checkbox {
    padding-left: 20px;
}
.checkbox label {
    font-family: 'open_sanssemibold';
    display: inline-block;
    position: relative;
    padding-left: 10px;
    font-size: 13px;
    color: #292929;
}
.checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 1px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
    margin-left: -19px;
    padding-left: 3px;
    padding-top: 3px;
    font-size: 11px;
    color: #555555;
}
.checkbox input[type="checkbox"] {
    opacity: 0;
}
.checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.checkbox input[type="checkbox"]:disabled + label {
    opacity: 0.65;
}
.checkbox input[type="checkbox"]:disabled + label::before {
    background-color: #eeeeee;
    cursor: not-allowed;
}
.checkbox.checkbox-circle label::before {
    border-radius: 50%;
}
.checkbox.checkbox-inline {
    margin-top: 0;
}
.checkbox-primary input[type="checkbox"]:checked + label::before {
    background-color: #428bca;
    border-color: #428bca;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-danger input[type="checkbox"]:checked + label::before {
    background-color: #d9534f;
    border-color: #d9534f;
}
.checkbox-danger input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.checkbox-warning input[type="checkbox"]:checked + label::after {
    color: #fff;
}
.checkbox-success input[type="checkbox"]:checked + label::before {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.checkbox-success input[type="checkbox"]:checked + label::after {
    color: #fff;
}
/* end of checkbox*/

.bor_sec_left .checkbox label {
    font-family: 'open_sanssemibold';
    font-size: 13px;
    color: #5e5d5d;
}
.bor_sec_left .checkbox label span {
    color: #292929;
}
.checkbox-info input[type="checkbox"]:checked + label::before {
    background-color: transparent;
    border-color: #e50005;
}
.checkbox-info input[type="checkbox"]:checked + label::after {
    color: #e50005;
}
.bor_sec_left .checkbox {
    padding-left: 35px;
}
.scroller {
    height: 149px;
    overflow-y: scroll;
}
input,
input:focus,
label,
label:focus {
    outline: none !important;
}
/*---------------search box--------------*/

.stylish-input-group .input-group-addon {
    background: white !important;
}
.stylish-input-group .form-control {
    border-right: 0;
    box-shadow: 0 0 0;
    border-color: #ccc;
}
.stylish-input-group button {
    border: 0;
    background: transparent;
}
/*---------------End of search box--------------*/

.pagination_sec .col-sm-8 {
    margin-top: 3px;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
    box-shadow: inset 0px 0px 14px rgba(0,0,0,0.10);
    border-radius: 5px;
}
.stylish-input-group .form-control,
.stylish-input-group .input-group-addon {
    background: transparent !important;
}
/*--------------------------End of Details section------------------*/



/*Compare design*/
.compare-design {
    background: #f6f8fa;
}
#zipcode .modal-content {
    width: 100%;
    float: left;
}
.zipcode-body {
    background: url(../img/zipcodebg.png) no-repeat 0 0;
    padding: 50px 20px;
    float: left;
    width: 100%;
}
.zipcode-body h4 {
    font-size: 25px;
    font-family: 'open_sanssemibold';
    margin-top: 20px;
    color: #000;
}
.details-zip .radio {
    margin: 0;
    padding: 20px 0 0
}
.details-zip {
    padding-top: 20px;
    float: left;
}
.details-zip h5 {
    font-family: 'open_sansregular';
    color: #000;
    font-size: 18px;
}
.details-zip .form-control {
    border: 1px solid #bdbdbd !important;
    background-color: #fff;
}
.details-zip .form-control:focus {
    color: #555 !important;
}
.residence-opt {
    margin-top: 20px;
}
.business-opt {
    margin-top: 20px;
}
.zipcode-body .btn-red {
    font-size: 20px;
    padding: 10px 40px;
    margin-top: 20px;
}
.mgt20 {
    margin-top: 20px;
}
/*Account page*/
.account-page {
    padding: 20px 0;
    background: #f6f8fa
}
.tabber .nav-tabs {
    background: #f6f6f6 none repeat scroll 0 0;
    border: 1px solid #dfdfdf;
}
.prefrence-tab,
.order-tab,
.profile-tab {
    padding: 20px;
    background: #fff;
}
.prefrence-tab h4 {
    font-size: 25px;
    font-family: 'open_sanssemibold';
    color: #0f60bb;
    padding-bottom: 20px;
}
.prefrence-tab .radio {
    margin: 0;
}
.noMgPd {
    margin: 0 !important;
    padding: 0 !important;
}
.account-page .form-control {
    background: #fff;
    color: #555 !important;
}
.account-page .form-control::-moz-placeholder {
    color:#555 !important;
}
/*--------------------------vishal css  profile page------------------*/


.profile_img {
    display: block;
    width: 150px;
    height: 150px;
    position: relative;
    background: white;
    overflow: hidden;
    padding: 0px;

    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: auto;
}
.profile_img .img-responsive{ width:100%;}
.profile_img::before {
    content: "";
}
.profile_img::after {
    content: "";
}
.profile_imgbox h4 {
    font-family: 'open_sansregular';
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
}
/*profile radio button*/

.profile-tab {
    float: left;
}
.profile-tab label.btn span ,
.prefrence-tab label.btn span {
    color: #000;
    font-family: "open_sansregular";
    font-size: 16px;
    font-weight: normal;
}
.profile-tab label input[type="radio"] ~ i.fa.fa-circle-o ,
.prefrence-tab label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #e50005;
    display: inline;
}
.profile-tab label input[type="radio"] ~ i.fa.fa-dot-circle-o ,
.prefrence-tab label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}
.profile-tab label input[type="radio"]:checked ~ i.fa.fa-circle-o ,
.prefrence-tab label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}
.profile-tab label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o ,
.prefrence-tab label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #e50005;
    display: inline;
}
.profile-tab div[data-toggle="buttons"] label.active ,
.prefrence-tab div[data-toggle="buttons"] label.active {
    color: #000000;
}
.profile-tab div[data-toggle="buttons"] label ,
.prefrence-tab div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #000000;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.profile-tab div[data-toggle="buttons"] label:hover ,
.prefrence-tab div[data-toggle="buttons"] label:hover {
    color: #000;
}
.profile-tab div[data-toggle="buttons"] label:active,
.profile-tab div[data-toggle="buttons"] label.active,
.prefrence-tabb div[data-toggle="buttons"] label:active,
.prefrence-tab div[data-toggle="buttons"] label.active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*profile radio button*/
.profile-tab .form-horizontal .control-label {
    color: #000;
    font-family: "open_sansregular";
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 10px;
}
/*.profile_section .form-control {
    height: 42px;
    border: 1px solid #42a3fd !important;
    box-shadow: none;
    background-color: #ffffff;
}
.profile_section .form-control { 
 border-radius: 0px;
 -webkit-border-radius: 0px;
 -moz-border-radius: 0px;
}*/
.profile-tab h5 {
    color: #000;
    font-family: 'open_sanssemibold';
    font-size: 16px;
    margin-bottom: 10px;
}
.profile-tab .form-horizontal .btn-group label {
    padding-left: 0px;
}
.profile-tab .fa-2x {
    font-size: 20px;
}
.profile-tab .form-control {
    font-style: normal;
}
.profile-tab .form-horizontal .btn-group {
    margin-top: 30px;
}
.profile-tab .btn-info {
    margin-top: 25px;
    color: #fff;
    background-color: #0091fc;
    border-color: #0086e8;
    border-radius: 0px;
}
.margin_top .col-sm-6 {
    margin-top: 20px;
}
.margin_top .col-sm-6:nth-child(1),
.margin_top .col-sm-6:nth-child(2) {
    margin-top: 0px;
}
/*--------------------------End of vishal css  profile page------------------*/



.compare-design {
    padding: 30px 0;
}
.compare-design h3 {
    font-size: 28px;
    color: #000;
    padding-bottom: 20px;
}
.compare-table {
    background: #fff;
}
.nobdr {
    border: none !important
}
.bdrtop {
    border-top: 1px solid #fff !important;
}
.col-spacing {
    padding: 40px 0 !important;

}
.col-spacing a{ margin-bottom:20px; display:inline-block}
.price-com { padding-top:20px; display:inline-block; font-size:20px;}
.compare-table th{ background:#efefef; color:#000;}



/*--------------------------Order section------------------*/
.order-tab .border-radius-bg {
    background: rgba(255, 255, 255, 0);
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    padding: 0px;
}

/*.order_section {
    background: #f6f8fa;
    padding: 55px 0px;
}*/
.order-tab .nav>li>a {
    font-family: 'open_sansregular';
    font-size: 15px;
    color: #6b6b6b;
    padding: 10px 0px;
    width: 110px;
    border: 1px solid #e9e9e9;
    text-align: center;
}
.order-tab .nav-pills>li.active>a, .order-tab .nav-pills>li.active>a:hover, .order-tab .nav-pills>li.active>a:focus {
    color: #fff;
    background-color: #69d3ed;
}
.order-tab .nav-pills>li+li {
    margin-left: 12px;
}
.desc_heading {
    margin: 23px 0px;
    background: #f4f4f4;
}
.desc_heading h5 {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    color: #010101;
    line-height: 38px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.desc_cont {
    margin: 23px 0px;
    padding-bottom: 23px;
    border-bottom: 1px solid #dedede;
}
.desc_cont:last-child {
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}
.desc_cont .img_border {
    display: inline-block;
    text-align: center;
    width: 72px;
    height: 54px;
    padding: 0px 10px;
    margin-left: 9px;
    margin-right: 9px;
    line-height: 54px;
    border: 1px solid #c5c5c5;
}
.desc_cont .img_border img {
    width: 100%;
}
.desc_heading .col-md-5:first-child  h5 {
    margin-left: 9px;
}
.desc_cont p {
    font-family: 'open_sanssemibold';
    display: inline-block;
    vertical-align: top;
    color: #b2b2b2;
    font-size: 13px;
    margin-top: 5px;
}
.desc_cont span.panding {
    color: #db8203;
}
.desc_cont span.delivered {
    color: #13b02d;
}
/*--------------------------End of Order section------------------*/


/*--------------------------prefrence-tab ------------------*/
.prefrence-tab .fa-2x {
    font-size: 20px;
}
.prefrence-tab .radio {
    padding: 0px;
}
.prefrence-tab div[data-toggle="buttons"] label, .prefrence-tab div[data-toggle="buttons"] label {
    padding-left: 0px;
}
.prefrence-tab .form-group:nth-child(1) {
    padding-left: 0px;
}
.prefrence-tab .col-md-12:nth-child(2) {
    margin-top: 20px;
}

/*--------------------------End of prefrence-tab ------------------*/