p.notice {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 95%;
border: 2px solid #66CC33;
background-color:#99FFCC;
margin-top: 20px;
padding: 10px;
font-weight: bold;
}

p.alert {
margin-left: auto;
margin-right: auto;
text-align: center;
width: 95%;
border: 2px solid #CC3333;
background-color:#FFCCCC;
margin-top: 20px;
padding: 10px;
font-weight: bold;
}

div#error_explanation {
  background-color:#ffcccc;
  border:1px solid red;
  vertical-align:top;
  padding: 10px 20px;
  margin: 18px 0px;
}

div#error_explanation h2 {
  color: maroon;
  margin:12px 0;
}
 
div#error_explanation ul li {
  list-style: square;
  border:0px;
  margin:0 18px;
  padding:0px;
}
 
div.field_with_errors input[type="text"],
div.field_with_errors input[type="email"],
div.field_with_errors input[type="password"] {
  border-color: red;
}