<section class="inner <%= category_name.downcase%> ">
  <div class="container text-center">
    <h3><%= category_name%></h3>
    <%if category_name == "Internet" %>
    	<p>Great Internet Plans and Packages with High-Speed.</p>
    <%elsif category_name == "Cellphone" %>
    	<p>Make and receive calls and texts Anytime, Anywhere. </p>
    <%elsif category_name == "Telephone" %>
    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
    <%elsif category_name == "Cable" %>
    	<p>Entertain & Enjoy your way with various HD channels. </p>
    <%elsif category_name == "Bundle" %>
    	<p>Simple yet Smart and Cost-Saving Bundles all you can get. </p>
    <% end %>

    
  </div>
</section>
