<% if  params[:category_id].to_i == Deal::BUNDLE_CATEGORY %>

<section class="content-sty">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">

<h4><strong>Make Your Home Digital Services Cost-effective with Our Bundles!</strong></h4>
        <p>Service Dealz saves you from all the hassle of calling different companies for services like phone, cable, internet and Wi-Fi. You can save all of that time by getting our bundle packages. The cost-effectiveness of our packages makes you a smart homeowner. You can comfortable access to the services at very reasonable prices.  </p>
        <p>We connect all your devices such as phone, tablets, laptops, computers, and TV with each. The purchase of the bundle from our platform gives you the assurance of high-end quality of digital services. </p>
        <h4><strong>Get financially efficient services</strong></h4>
        <p>Service Dealz is your best chance to get financially efficient services. You can easily switch from a single service to our combined bundle packages. It saves you a lot of cash and reduces your monthly expense on digital services. So, it is a wise move to get TV, the internet, and phone services from us.</p>
         <h4><strong>Organize yourself</strong></h4>
        <p>Our bundle services allow you to organize your life in a better way. You can access the internet through any of your devices and get the maximum benefit of having digital services. Moreover, it saves you a lot of time of managing documents related to the services and bills. You can set a strict budget for the services and keep a track of everything.
        </p>
        <h4><strong>Top notch services</strong></h4>
        <p>Having a strong foundation of technology, Service Dealz ensures you a high-quality bundle package. The packages offered by us offer different speeds and data limits. The variety of packages allows you to purchase the most suitable bundle for you. It is a great method of getting the kind of services you want. We are renowned for the service and offer top notch bundle packages for you. </p>



        </div>
         <div class="col-md-6">
        <h4><strong>A long list of options</strong></h4>
        <p>Our list of bundle packages contains all sorts of options for everyone. We have researched the needs of the consumers and designed these packages for you. Service Dealz confidently says that every person can find a suitable package for him or her. We don’t limit you with unwanted packages. Our aim is to let you save cash along with the enjoyment of high-speed services. </p>
        <h4><strong>Added Services</strong></h4>
        <p>Our high-speed digital and phone services are reliable. However, we act quickly if there is a hiccup in any of the services of cable, the internet, or phone. We make sure that you get uninterrupted services in your house. </p>
         <h4><strong>Choose us to get the best</strong></h4>
        <p>We can proudly say that your satisfaction is our priority. So, allow us to make your life better with our services. Service Dealz makes all efforts to improve your communication and internet access. </p>
        <h4><strong>Pick a bundle for yourself</strong></h4>
        <p>There is a long list here, from which you can choose the best one for yourself. Please check out all the features and information about the package to understand everything. Spend proper time on the selection and choose the one that exactly matches your requirement. </p>
        <p>So, what are you waiting for?! Start scrolling! The best deals are down here.</p>
        </div>
        </div>
        
      </div>
    </div>
  </section>

 <% elsif  params[:category_id].to_i == Deal::INTERNET_CATEGORY %> 
 <section class="content-sty">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
<h4><strong>Great Internet Plans and Packages with High-Speed!</strong></h4>
       <p>Having high-speed internet proves a great help in keeping yourself connected with the world. Service Dealz offers different packages of the internet, so that, you can pick the best one for your needs. The range of our speeds is very wide. You can check out each one of it and make sure that your home devices get required speed of internet from us. We ensure that the service goes uninterrupted and offer services 24/7. </p>
       <h4><strong>You Get Best Value Offers with Us</strong></h4>
       <p>We have kept all the requirements in mind and designed our offers to provide you maximum benefit of your internet. Our price guarantee lets you keep your monthly budget under control and allow you to get quick streaming. We never compromise with the fast speed of our internet services. You can use our services on multiple devices, the speed never lets you down. </p>
       <h4><strong>The speed is unmatchable</strong></h4>
       <p>The speed we provide with our deals is unmatchable. It allows you to stream from all sorts of devices such as laptops, tablets, computers, and smartphones. You can get access to a wide network at great speed. It is our strong technology that allows us to provide this sort of high speed to our customers. </p>
       <h4><strong>Special offers to save money</strong></h4>
       <p>We also allow you to get special packages in order to save more money on your purchases. Our effective services become more cost-efficient when you combine it with special packages. </p>


        </div>
        <div class="col-md-6">
       <h4><strong>Get service satisfaction with 24/7 technical support</strong></h4>
       <p>Your satisfaction is our goal. We, at Service Dealz, stay available 24/7 to provide you our technical support. This makes us a preference for many of the consumers today. Once you have taken our services, your life becomes much more organized and easy. 
</p>
<h4><strong>Secured environment</strong></h4>
<p>Our services are totally secure and provide full protection to your devices. We employ all the latest technologies to provide services to you. Plus, our technical support team always stays there for you to help in any situation. You can talk to our team member anytime and clear your queries. </p>
<h4><strong>Choose the speed you require</strong></h4>
<p>We know that an internet connection can make you waste a lot of money. Hence, you allow you to choose from a large variety of internet speed. This way, you can get the required speed without wasting cash on the services. All you have to do is to analyze your needs such as downloading songs, watching online movies, uploading pictures on social media, or any other purpose. Once you are clear with your requirements, select the best speed for yourself and pay for only what you want. </p>
<h4><strong>Check out the packages</strong></h4>
<p>The long list of the internet packages is here to guide you. Please, check out all the information from different offers and compare it to your needs. The one that matches the best to your requirements should be your choice. However, you should also know that you can switch from one package to the other whenever you want.</p>
<p>So, pick a package for yourself!</p>
</div>
        </div>
        
      </div>
    </div>
  </section>
 <% elsif  params[:category_id].to_i == Deal::CABLE_CATEGORY %> 
 <section class="content-sty">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
         <div class="col-md-6">
        <h4><strong>Entertain & Enjoy your way with various HD channels!</strong></h4>
        <p>Service Dealz brings all your favorite channels and shows directly to you. With our different packages, you can choose only those channels, which you want to watch. We offer more than two hundred channels to our customers. And that too, in HD quality. Along with the cable services, you can also bundle it with internet services to save a lot of cash.</p>
        <h4><strong>Our cable and internet are better together</strong></h4>
        <p>Service Dealz is best to keep all your favorite shows available in your pocket. Our great combination of internet and cable services allow you to see your favorite movies and shows anytime. You can record the shows and watch it on your laptop, tablet, and even on your smartphone. This sort of convenience is possible with our top-notch services only. </p>
        <h4><strong>Take your entertainment to another level</strong></h4>
        <p>We design our packages in such a manner that you get amazing combinations of channels. These packages let you get all of your favorite channels at affordable prices. Plus, you get access to the entertainment from each and every room. So, it is our specially designed channel packages that take your entertainment to another level of excellence. </p>
        <h4><strong>Let your eyes experience the real HD</strong></h4>
        <p>With Service Dealz, you get to experience the real HD quality of the television. All of your favorite shows and movies seem much attractive with the quality of our services. No matter which device you use to see, the quality of our cable never goes down. So, you any device you want, watch from any room of your house, the high definition of our channels will amaze you for sure!</p>
      </div>
       <div class="col-md-6">
        
        <h4><strong>Get all the premium channels</strong></h4>
        <p>We offer all the premium channels with our affordable packages for the customers. Some of them contain 20+ channels, while some have more than two hundred channels. You can select according to your preference and enjoy all your favorite movies and shows. There are plenty of amazing features that come with our cable services. From recording the ongoing show to accessing the shows from your smartphones, we have everything for you. </p>
        <h4><strong>Select a package for yourself</strong></h4>
        <p>A long list of packages is provided to you, so that, you can choose easily. We have bundled as well as separate cable deals for you. Now, you can pick the different combination of packages. There is a combination of internet and cable, and a combination of the internet, telephone, and cable. All our bundled services offer great speed and channel quality and allow you to access TV from multiple devices. </p>
        <p>However, we also have different cable packages with different numbers of digital channels. You can check out all the packages and select the one that suits your needs the best. In order to know more about a package, you can click on the package box. It will take you to the information regarding that particular package deal. </p>
        <p>So, go through the whole list, see our offers and choose the best for yourself!</p>
      </div>
        </div>
        
      </div>
    </div>
  </section>

 <% elsif  params[:category_id].to_i == Deal::CELLPHONE_CATEGORY %> 
 <section class="content-sty">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="col-md-6"><h4><strong>Make and receive calls and texts Anytime, Anywhere!</strong></h4>
        <p>With Service Dealz, you don’t have to worry about your cell phone data of call services. Our packages cover everything for you. From calls, texts, to the streaming videos, we cover everything in our packages. Service Dealz offers best packages for your cell phones and allows you to connect with all your friends and family. Make calls, or send texts, our services let you get in touch with the nationwide and even international family members. Adding to that, you can share the provided data with multiple devices and have the advantages of our services from anywhere. </p>
        <h4><strong>No need to pay extra if you exceed your data allowances</strong></h4>
        <p>Cell phone users usually stay worried about their data allowance. But with Service Dealz you get amazing features of the data packs along with the data allowance facilities. You don’t have to pay overage charges in case you exceed your data allowances. </p>
        <h4><strong>Get rollover data</strong></h4>
        <p>Our rollover data service is appreciated by all of our customers. They love the fact that they can roll over their unused current data in the next month. This gives them the advantage of using their data to its maximum capacity. Plus, it justifies their investment in our services. You can also do the same in order to get the maximum out of our services. </p>
      <h4><strong>Talk and text as much as you want</strong></h4>
        <p>We provide unlimited domestic calls and texts with our packages. You can talk and chat with your friends and family for as long as you can. You get all these calls and messaging at very amazing deals. So, pay only a limited amount to get unlimited call benefits from Service Dealz.
        </p>

      </div>
      <div class="col-md-6">
       
        <h4><strong>High data speed </strong></h4>
        <p>We allot high-speed data with our packages, allowing you to stream audios, videos, pictures, and even exchange video messages. With our data speed, you don’t have to look at long buffering screens. No matter where you are, the data speed never leaves your cell phone. </p>
        <h4><strong>Control your data speed</strong></h4>
        <p>We also let you control your own data. Once allotted to you, the data can be managed according to the cycle, so that, you get the high speed of the data until the next billing cycle. All you need to do is enable the safety mode in the My Verizon app. This way you can have full control over your data usage. It lets you get a better experience of our data services. 
</p>
<h4><strong>No need to spend too much cash every month</strong></h4>
<p>Our monthly packages come with very affordable rates and don't require too much cash investment. Having a cell phone doesn’t mean that you have to spend all your money on it. Service Dealz offers great packages for your budget. The features you get with the reasonable prices are unmatched. </p>
<h4><strong>Pick your package</strong></h4>
<p>So, pick the best package for yourself and enjoy high-quality data speed, calls, and text messages. Please, check out all the details in order to understand the features of each package. This will let you choose the right package for you. </p>
        </div>
        </div>
      </div>
    </div>
  </section>
 <% elsif  params[:category_id].to_i == Deal::TELEPHONE_CATEGORY %> 

 <section class="content-sty">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
           <div class="col-md-6">
       <h4><strong>Make and receive calls at lower rates to Anyone, Anywhere!</strong></h4>
       <p>Service Dealz let you have a telephone service that helps you in many ways. Not just it makes you makes unlimited calls, but also allow you stay safe in your house. Our telephone services let you make calls even when there is no power. You can talk to anyone, all day in the U.S. and different other countries such as Canada, Mexico, China, Hong Kong, India, The EU, and Norway. </p>
       <p>Along with the unlimited calling, our features include Anonymous Call Rejection, Answer Anywhere, Call Forwarding, Call History, Call Waiting, Call Waiting Caller ID, Caller ID, Caller ID on TV. All these services in just one package. This great deal can be yours only with Service Dealz. But don’t think that these are all the features! There are plenty other features that you can find in the list of offers. </p>
       <h4><strong>We provide a high-quality reception</strong></h4>
       <p>We are known for our amazing, crystal clear telephone connections. We provide reliable connections to our customers that allow them to talk to all their friends and family without any trouble. The voice can be heard clearly and shows almost no time lag during the calls. </p>
       <h4><strong>You get uninterrupted coverage</strong></h4>
        <p>With our telephone services, you don’t have to worry about the coverage issues. The phone network is so strong that it leaves no chance of coverage issues. We ensure that your telephone services stay top quality all the time. This is due to our reliable phone networks that we offer the guarantee of services. </p>

      </div>
      <div class="col-md-6">
       <h4><strong>Stay safe</strong></h4>
        <p>Telephones can help you enhance your safety measures also. It is a well-known fact that many security systems require telephones to monitor. Hence, having one is a wise way to add more security in your house. Plus, the telephones are an amazing location provider. They can be a great help in case of any emergency. </p>

        <h4><strong>You can pick your favorite plan</strong></h4>
        <p>We offer different kinds of plans, so that, you can select the most suitable one for yourself. These plans let you chat and talk to your friends and family, no matter where they live. With a suitable package, you don’t have to pay a single penny for sending your best wishes to your friends. Send thousands of them for free. Plus, you get to make calls internationally without having to pay any money. These are the features of our plans that makes us a favorite of our customers. </p>
        <p>Our unlimited calling packages are designed according to the needs of the consumers. You can have a look at all the packages and see which one suits you best. For instance, you can go for the Unlimited Calling Penny Phone Plan if you want global calling services. Similarly, there are plenty other options for you in the list, so that, getting the right services become much easier for you. </p>
        <p>So, check out our list of plans and analyze all of the features to get the maximum benefit from our services. You can also add your picks to your compare list. </p>
</div>
        </div>
        
      </div>
    </div>
  </section>

  <% end %>