<!-- <!-- <div class="visible-xs bestdeal"> -->
 <!--  <div class="">
    <h1> Looking For Best Deals In The Location You Are Moving</h1>
  </div>
  <div class="formcontainersmall">
    <form>
      <h2>Please enter valid Street Address | ZIP Code</h2>
      <div class="col-md-12">
        <div class="col-md-5 col-xs-offset-1">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Address">
        </div>
        <div class="col-md-5 ">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Apt/Condo">
        </div>
        <div class="col-md-5 col-xs-offset-1">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Zip Code">
        </div>
        <div class="col-md-5 ">
          <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Service">
        </div>
      </div>
      <button type="submit" class="btn btn-default btn-red">Enter Now</button>
    </form>
  </div> -->
<!-- </div> --> 