<div class="col-sm-12">
  <div class="border-radius-bg">

    <div class="row">
      <div class="col-md-8">
        <h6 class="heading-2">Sort By:</h6>
        <ul>
          <li><a class="active" href="#">Relevance</a></li>
          <li><a href="#">Price Low to High</a></li>
          <li><a href="#">Price High to Low</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div class="input-group stylish-input-group">
          <!-- <input type="text" class="form-control" placeholder="Search...">
                                        <span class="input-group-addon">
                                            <button type="submit">
                                              <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </span> -->
        </div>
      </div>
    </div>

  </div>
</div>