<section class="contact-us-banner">
  <div class="container text-center">
    <h3>About Us</h3>
  </div>
</section>
<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 abt-img"> <%= image_tag('website/dummmy-img.png') %> </div>
        <div class="col-md-6 abt-list">
          <div>
            <h4>Why <strong>ServiceDealz?</strong></h4>
            <p>ServiceDealz is an outstanding multi channel marketplace which makes the purchase of services for the connected home. As being a single conducive source we help millions of consumers seeking to establish or transferring household service save time and money. Services offered are Communication Bundles, Internet, Cable, Wireless and Telephone. We have the unique business model for consumers to get the best deals for usage.</p>
            <p>
          Our goal is to inspire tomorrow’s creators to use our technology to help consumers get the bestest utilies for themselves, their families. We make it possible for people to stay in touch and businesses to connect with their customers. </p>
        <p>
We’re proud of our values and principles.</p>
          </div>
          
        </div>
      </div>
      
    </div>
  </div>
</section>