<section class="contact-us-banner">
  <div class="container text-center">
    <h3>About Us</h3>
  </div>
</section>

<section class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6 abt-img"> <%= image_tag('website/dummmy-img.png',:alt => 'map-pointer') %> </div>
        <div class="col-md-6 abt-list">
          <div>
            <h4>Why <strong>ServiceDealz?</strong></h4>
            <ul>
              <li><i class="fa fa-angle-double-right"></i>What we offer puts us ahead of alternatives in the market place</li>
              <li><i class="fa fa-angle-double-right"></i>Ease of user – reduce overall switching time</li>
              <li><i class="fa fa-angle-double-right"></i>Higher retention driven by strong customer relationship</li>
            </ul>
          </div>
          <div class="how-help">
            <h4>How we <strong>help?</strong></h4>
            <ul>
              <li><i class="fa fa-angle-double-right"></i>Save 10s of hours with deals at your finger tips</li>
              <li><i class="fa fa-angle-double-right"></i>Unique Effective Price approach to compare deals by actual cost</li>
              <li><i class="fa fa-angle-double-right"></i>$ave $1000s</li>
              <li><i class="fa fa-angle-double-right"></i>Reduces mistakes in orders</li>
              <li><i class="fa fa-angle-double-right"></i>Track your order </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="col-md-5 abt-list help">
          <p> We incentivize our users by rewarding them <strong class="highlight-red">referrals &amp; gift cards</strong>.<br>
            We negotiate better deals for you. </p>
        </div>
        <div class="col-md-7 abt-list help">
          <p>We help you understand and subscribe right level of service. Most businesses subscribe higher level or lower level of services, either they pay too much or impact their operations. </p>
        </div>
      </div>
    </div>
  </div>
</section>