<section class="compare-design">
  <div class="container">
    <h3>Compare Internet Deals</h3>
    <div data-example-id="bordered-table" class="compare-table">
      <table class="table table-bordered">
        <tbody><tr>
          <td scope="row" class="nobdr"></td>
          <td class="nobdr"></td>
          <td align="center" class="col-spacing"><a href="#">Cox Business bundle</a><br>
            <%= image_tag('website/twc_logo.png') %>  <br>
            <span class="price-com"> <b>$89.99 / month</b></span></td>
          <td align="center" class="col-spacing"><a href="#">Voice + Internet</a> <br>
            <%= image_tag('website/AT&T_logo_2005.png') %> <br>
            <span class="price-com"> <b>$89.99 / month</b></span></td>

        </tr>


        <tr>
          <th width="20%" scope="row">Plan</th>
          <th width="20%">Current</th>
          <th width="30%">TWC </th>
          <th width="30%">At&amp;t</th>
        </tr>
        <tr>
          <td scope="row">Saving</td>
          <td></td>
          <td>$40.00</td>
          <td>$40.00</td>
        </tr>
        <tr>
          <td scope="row">Contract</td>
          <td>05/03/2016</td>
          <td>12</td>
          <td>12</td>
        </tr>
        <tr>
          <th scope="row">Speed</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>

        <tr>
          <td scope="row">Download</td>
          <td>10.0</td>
          <td>18.0</td>
          <td>24.0</td>
        </tr>

        <tr>
          <td scope="row">Upload</td>
          <td>100.0</td>
          <td>11.5</td>
          <td>5.0</td>
        </tr>

        <tr>
          <th scope="row">Equipment &amp; Installation</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td scope="row">Name</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Offer</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <td scope="row">Offer Title</td>
          <td></td>
          <td>Reward Card</td>
          <td></td>
        </tr>
        <tr>
          <td scope="row">Offer Price</td>
          <td></td>
          <td>$16.66</td>
          <td></td>
        </tr>
        </tbody></table>
    </div>
  </div>
</section>