<section class="terms-condition">

<div class="container terms">

<b>Privacy Policy</b>
<p>User may be concerned regarding how the provided information on the website will be used. We respect the privacy of our users. Kindly review our Privacy Policy, which is available on the website.</p>

<p>Effective Date: October 2016</p>

<p>Copyright © 2016 ServiceDealz</p>

</div>
</section>