<section class="contact-us-banner">
  <div class="container text-center">
    <h3>Privacy Policy</h3>
  </div>
</section>
<section class="terms-condition">

<div class="container terms">

<b>Privacy Policy</b>
<p>User may be concerned regarding how the provided information on the website will be used. We respect the privacy of our users. Kindly review our Privacy Policy, which is available on the website.</p>
<b>Intellectual Property and Use of Website</b>
<p>All content and software on this site is our property or that of our service providers and is protected by U.S. and international copyright laws. Website users may use the content and software on this Website as a shopping resource only and other use of the software and content on this Website is strictly prohibited. Tampering with the Website, misrepresenting the identity of a user, using buying agents or conducting fraudulent activities on the Website are prohibited.</p>
<b>Termination of Usage</b>
<p>We may, in our sole discretion, suspend or terminate user accounts if s/he found to provide or attempt to do false, vulgar, harassing, defaming, threatening, abusive or unlawful language/activities.</p>
<b>General</b>
<p>By accessing the website you agree with the Terms and Conditions mend for this site. These Terms and Conditions constitute the entire agreement between you and us in connection with the Website. 
No modification of these Terms and Conditions will be effective unless it is authorized by us. Any alleged user of any breach of these Terms and Conditions will not be deemed to be a waiver of any future breachs.</p>
<p>Effective Date: October 2016</p>

<p>Copyright © 2016 ServiceDealz</p>
</div>
</section>