<section class="contact-us-banner">
  <div class="container text-center">
    <h3>Privacy Policy</h3>
  </div>
</section>
<section class="terms-condition">

<div class="container terms">
  <b>Privacy Policy:</b>
  <p>We at ServiceDealz, we are serving the strong and meaningful privacy protections for our users. Privacy policy is designed to inform users about the information we collect/require, how we use it, and your options about certain uses of information.ServiceDealz privacy policy applies for the visitors on website.</p>
  <p>Whether user is having the glimpse view of the website at Privacy Policy page or viewing the website or purchasing the services through website we seeks secure and safeguard uers privacy. We are commit of protecting the information and this privacy policy outlines the limited manner in which we will use users information to provide them Services. Usage of our Services or Website, user consent to let us gather and use their information as set forth in our policy then in effect at the time of our use of your information.</p>
  <b>WHOM DO WE DISCLOSE, HOW WE USE THE INFORMATION WE COLLECT:</b>
  <p>
  To organize and analyze IP addresses we may use this information so in return we can provide items such as efficient service, enhance security, monitor appropriate usage and produce traffic volume statistics. These type of non-Personally Identifiable information may be shared with third parties, such as when we aggregate and disclose site traffic. When you visit our website, you may also choose certain options such as (i) Your Account, (ii) About ServiceDealz, (iii) Phone, TV, Internet, Bundles (iv) Customer Service and (v) Contact Us to obtain more information about us and our Services. Through these options, user may provide us with Personally Identifiable Information. We will collect, use and disclose such Personally Identifiable Information as further described below in Using Our Services.</p>
  <p>When you use our Services, you must through our checkout process or subsequent order process and confirm the Personally Identifiable Information, including your name, address, e-mail address, phone number, and billing information is properly and fully receive the offered Services. We collect and store this Personally Identifiable Information and any modifications that either we or you make to that information. As set forth in this policy, we will not reveal any users Personally Identifiable Information to any third party without the consent of the provider of such information, except that we may share User Information with our business associates who assist us in administering the Services.</p>
  <b>INFORMATION SECURITY:</b>
  <p>ServiceDealz has administrative, technical and physical safeguards in place to help protect against unauthorized access to, use or disclosure of customer information we record.
  </p>
  <b>ACCESSING AND UPDATING YOUR INFORMATION:</b>
  <p>You may correct inaccuracies in your information by accessing your online account and updating your information.</p>


  <b>WHAT INFORMATION MAY BE COLLECTED BY THIRD PARTIES?</b>
  <p>Our website includes Social Media Features, such as the Facebook Like and Share button, Share button have third party sharing features. These features may collect your Internet protocol address, which page you are visiting on our website or application, and may set a cookie to enable the feature to function properly. These social media features are either hosted directly on our website or by a third party. Your interactions with these Features are governed by the privacy statement of the company providing it.
  </p>

  <b>DATA RETENTION:</b>
  <p>Your information will be retain as long as your account is active or needed to provide you services. If user wish to cancel their account or request that we no longer use of their information to provide them services they can contact us. We will retain and use your information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.

  </p>

  <b>HOW DO YOU SAFEGUARD YOUR PASSWORDS?</b>
  <p>We ask that you not lend, give or disclose any login ID or passwords to any unauthorized person or allow any unauthorized person to use your account or login ID/password or any other instructions regarding the services.Moreover, we will never ask for your member ID or password in an unsolicited phone call or in an unsolicited email.
  </p>




  <p>In case, if your login ID or password has been compromised for any reason, then you should immediately notify us so that we may issue you new login credentials. Any loss of control of your member ID or password may result in the loss of control over Personally Identifiable Information.</p>







</div>
</section>
