<section class="contact-us-banner">
  <div class="container text-center">
    <h3>Terms & Conditions of Use</h3>
  </div>
</section>
<section class="terms-condition">

<div class="container terms">
<b>ServiceDealz Terms & Conditions of Use</b>
<p>The subsequent terms and conditions of use (the "Terms and Conditions") apply to your use of the ServiceDealz, website at www.servicedealz.com. "You" and "Your" terms refer to the user/customer using the Website to browse and purchase product or service offerings. "We", "Us" and "Our" terms refer to ServiceDealz. You agree to be bound by these Terms and Conditions by using the Website "ServiceDealz". User must be at least 18 years of age to use this website and usage of website will be for personal, non-commercial purposes. Terms and Conditions which applies to the website may make changes at any time without any prior notice. On each occasion user access the Website, s/he should visit and review the applicable Terms and Conditions.
</p>
<b>Disclaimer and Limitation of Liability</b>
<p>BY ACCESSING THE WEBSITE, YOU EVIDENTLY AGREE THAT USE OF THE WEBSITE IS AT YOUR OWN RISK.
THE WEBSITE AND ITS CONTENT IS REPRESENTED ON AN "AS IS, WHERE IS" BASIS AND MAKE NO WARRANTY</p>
<ul class="terms-listing">
<li> <i class="fa fa-angle-double-right"></i>USE OF THE WEBSITE WILL BE HASSLE FREE OR UNINTERRUPTED SERVICE </li>
<li> <i class="fa fa-angle-double-right"></i>REGARDING ANY PRODUCT OR SERVICE OFFERING, EITHER EXPRESS OR IMPLIED, INCLUDING THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT, WHICH ARE HEREBY EXPRESSLY DISCLAIMED </li>
<li> <i class="fa fa-angle-double-right"></i>REGARDING THE ACCURACY, INTEGRITY OR COMPLETENESS OF THE CONTENT ON THIS WEBSITE.</li>
</ul><p>
IN NO EVENT WILL WE OR OUR OFFICERS, DIRECTORS, EMPLOYEES, REPRESENTATIVES OR AGENTS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, CONSEQUENTIAL, PUNITIVE DAMAGES OR OTHER SPECIAL DAMAGES IN CONNECTION WITH YOUR USE OF THE WEBSITE, INCLUDING, WITHOUT LIMITATION, LOSS OF DATA, LOSS OF PROFIT, AND LOSS OF USE, HOWEVER CAUSED. THIS LIMITATION OF LIABILITY APPLIES REGARDLESS OF THE FORM OF ACTION, WHETHER IN CONTRACT, TORT OR ANY OTHER CLAIM, EVEN IF WE HAVE BEEN ADVISED OF OR SHOULD HAVE KNOWN OF THE POSSIBILITY OF SUCH DAMAGES. TO THE EXTENT YOU ARE DISSATISFIED WITH THIS WEBSITE AND/OR THESE TERMS AND CONDITIONS, YOU AGREE THAT YOUR SOLE AND EXCLUSIVE REMEDY IS TO CEASE USE OF THE WEBSITE.
</p>

<b>Relationship with Service Providers:</b>
<p>Products and service offerings available on the Website are offered by the applicable service provider only. All of your purchases are made through the applicable service provider, not through us. To extent your purchase of product or services offering customer will directly enter into an agreement with the applicable service provider. For transacting with service providers, communicating regarding your purchase and/or service offering our support executive will be there to assist you. For any damages, liabilities, performance of the service provider, costs or expenses arising from the connection with the acts, delays of any service provider whose products or services are offered through the website we will not be liable.</p>

<b>Prices and Availability:</b>
<p>We have rights to change the prices and availability of products and services without any prior notice. We reserve the right to revoke any offering and to correct any errors, inaccuracies or omissions, which may occur. User have no obligation to use this Website or to contract with the service providers whose services are offered on the Website. We may not make available all service providers which are capable of offering products and services at your location on the website.
</p>

<b>Information You Share</b>
<p>However, in order to establish an account user may be required to provide specific information and create a user ID and password to access certain Resources available in website. User will not submit any information or material that is false, vulgar, harassing, defaming, threatening, abusive or unlawful language.
User should agree that the information provided in establishing an account is accurate, complete and precise. ServiceDealz may in its discretion suspend or terminate any of your user names and passwords at any time with or without notice.
In case of breach of security regarding any of user accounts ServiceDealz support should be updated immediately.
</p>

<b>Privacy Policy</b>
<p>User may be concerned regarding how the provided information on the website will be used. We respect the privacy of our users. Kindly review our Privacy Policy, which is available on the website.</p>
<b>Intellectual Property and Use of Website</b>
<p>All content and software on this site is our property or that of our service providers and is protected by U.S. and international copyright laws. Website users may use the content and software on this Website as a shopping resource only and other use of the software and content on this Website is strictly prohibited. Tampering with the Website, misrepresenting the identity of a user, using buying agents or conducting fraudulent activities on the Website are prohibited.</p>
<b>Termination of Usage</b>
<p>We may, in our sole discretion, suspend or terminate user accounts if s/he found to provide or attempt to do false, vulgar, harassing, defaming, threatening, abusive or unlawful language/activities.</p>
<b>General</b>
<p>By accessing the website you agree with the Terms and Conditions mend for this site. These Terms and Conditions constitute the entire agreement between you and us in connection with the Website. 
No modification of these Terms and Conditions will be effective unless it is authorized by us. Any alleged user of any breach of these Terms and Conditions will not be deemed to be a waiver of any future breachs.</p>
<p>Effective Date: October 2016</p>

<p>Copyright © 2016 ServiceDealz</p>

</div>
</section>