<section class="account-banner">
  <div class="container">
    <div class="row">
  <h3 class="text-center"> Account Info</h3>
</div></div>
</section>
<section class="account-page">

  <div class="container">
    <div data-example-id="togglable-tabs" class="tabber">
      <ul role="tablist" class="nav tab1" id="myTabs">
        <li class="active"><a data-toggle="tab" role="tab" id="home-tab" href="#Profile" aria-expanded="true">Profile</a></li>
        <li class=""><a data-toggle="tab" id="profile-tab" role="tab" href="#Preference" aria-expanded="false">Preference</a></li>
        <li class=""><a data-toggle="tab" id="order-tab" role="tab" href="#Order" aria-expanded="false">Order history</a></li>
      </ul>
      <div class="tab-content" id="myTabContent">

        <%= render :partial => 'website/app_users/personal_details' %>

        <%= render :partial => 'website/app_users/user_preferences' %>

        <%= render :partial => 'website/app_users/order_history' %>


      </div>
    </div>
  </div>
  <%if params[:status].present?%>
  <script>
    $("#order-tab").click()
  </script>
  <%end%>
  <%if params[:new_user].present?%>
  <script>
    $("#home-tab").click()
  </script>
  <%end%>
</section>
