<% if controller.controller_name=="app_users" and controller.action_name=="checkout" %>
   <footer style="bottom: 0;height: 190px;position: absolute;width: 100%;">
  <%else%>
  <footer>
<%end%>

  <div class="container">

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Home services made easy</li>
        <li><a href="#">How it Works</a></li>
        <li><a href="#">Find Savings</a></li>
        <li><a href="#">Tools and Resources</a></li>
        <li><a href="<%= our_providers_website_home_index_path %>">Our Providers</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Your Utilities and Services</li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Order Status</a></li>
        <li><a href="#">Cellphone Facts Labels</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6">
      <ul>
        <li class="heading">Trust ServiceDealz</li>
        <li><a href="<%= about_us_website_home_index_path %>">About Us</a></li>
        <li><a href="<%= contact_us_website_home_index_path %>">Contact Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Utility Partner Solutions</a></li>
      </ul>
    </div>

    <div class="col-sm-3 col-xs-6 copyright">
      <p>Copyright © 2015 ServiceDealz Inc. <br>
        All Rights Reserved.</p>
      <span> <a href="#">Terms of Use</a> | <a href="#">Privacy Policy</a> <br>
      Provider Copyright Statements </span>
    </div>

  </div>
</footer>
