<footer>
  <div class="container">
    <div class="col-md-8 pull-left">
      <ul>
        <li class="heading">Home services made easy</li>
        <li><a href="#">How it Works</a></li>
        <li><a href="#">Find Savings</a></li>
        <li><a href="#">Tools and Resources</a></li>
        <li><a href="#">Our Providers</a></li>
      </ul>
      <ul>
        <li class="heading">Your Utilities and Services</li>
        <li><a href="#">Customer Service</a></li>
        <li><a href="#">Order Status</a></li>
        <li><a href="#">Electricity Facts Labels</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
      <ul>
        <li class="heading">Trust ServiceDeals</li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Utility Partner Solutions</a></li>
      </ul>
    </div>
    <div class="col-md-4 pull-right copyright">
      <p>Copyright © 2015 ServiceDeals Inc. <br>
        All Rights Reserved.</p>
      <span> Terms of Use | Privacy Policy <br>
      Provider Copyright Statements </span> </div>
  </div>
</footer>